<div ng-controller="panierCtrl as pn">
    <div class="panier" ng-show="pn.arrayProduits.length">
        <h2>Panier</h2>
        <div ng-repeat="prod in pn.arrayProduits track by $index">
            <div class="panierproduit row">
                <div class="col-lg-3">
                    {{prod.nom}}
                </div>
                <div class="col-lg-3">
                    {{prod.prix|myCurrency:2}}
                </div>
                <div class="col-lg-3">
                    <img class="panierimg" ng-src="/img/{{prod.img}}" alt="prod.name">
                </div> 
                <div class="col-lg-3">
                    <button type="button" class="btn btn-warning" ng-click="pn.removeQuant(prod)">-</button>
                    {{prod.qty}}
                    <button type="button" class="btn btn-warning" ng-click="pn.addQuant(prod)">+</button>
                </div>
            </div>
        </div>
    </div>
</div>